.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style for the body to remove default margin and set the font */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Example font */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Viewport height */
  background-color: #FFBF69; /* Example background color */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-image: linear-gradient(to top, #ffa735, #ffe1ba); /* Example gradient colors */

}

/* Style for the main container */
.main-container {
  position: relative;
  width: 80%; /* Or any width you prefer */
  max-width: 1200px; /* Maximum width */
  margin: auto; /* Center horizontally */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow for elevation */
  background-color: #ffffff; /* Background color for the app */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;

}

@media (max-width: 600px) {
  .main-container {
      width: 95%; /* Increase width on smaller screens */
      padding: 10px; /* Reduce padding on smaller screens */
  }
  .search-container {
    padding: 10px;
    margin: 10px 0;
}
.flight-search-form {
  flex-direction: column;
}
.input-column {
  margin: 10px 0; /* Adjust margin for vertical layout */
}
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.airplane-svg {
  position: absolute; /* Position it independently of other elements */
  width: 1400px; /* Adjust the size as needed */
  opacity: 1; /* Adjust transparency */
  top: 30%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for accurate centering */
  z-index: -1; /* Place it behind other content */
}

.search-container {
  /* Styles for the container */
  margin: 20px 0;  /* Adjust spacing as needed */
  padding: 20px;   /* Add padding */
  border: 1px solid #ccc; /* Simple border */
  border-radius: 10px; /* Rounded corners */
  text-align: center; /* Center the content */
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  background-image: linear-gradient(to right, #6dd5ed, #2193b0); /* Example gradient colors */

}

.search-container h1 {
  margin-bottom: 20px; /* Space below the title */
  /* Additional styles for the title */
}

.search-container input,
.search-container button {
  margin: 5px; /* Spacing around inputs and buttons */
  padding: 10px; /* Padding inside inputs and buttons */
  /* Additional styles for inputs and buttons */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
  background-color: #FFFFFF;
  size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #2193b0;
}

/* FlightSearch CSS -------------------------------------------------------------------------------------- */

.date-picker-container {
  margin: 20px 0; /* Space above and below the container */
  padding: 10px; /* Padding inside the container */
  border: 1px solid #ccc; /* Border around the container */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
  text-align: center; /* Center the contents */
}

.date-picker-container label {
  display: block; /* Make the label take up the full width */
  margin-bottom: 10px; /* Space below the label */
}

.input-field {
  margin-bottom: 15px;
}

.input-field input, .input-field .date-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flight-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-column {
  flex: 1; /* Each column takes equal width */
  margin: 0 10px; /* Spacing between columns */
  display: flex;
  flex-direction: column;
  justify-content: center; /* This centers the button vertically */
}

.input-column button {
  align-self: center; /* Align the button in the center of its container */
}

.search-toggle {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the buttons */
}

.search-toggle button {
  padding: 10px;
  border: none; /* Removes the border */
  background-color: transparent; /* Makes the background transparent */
  cursor: pointer;
  font-size: 16px; /* Adjust font size as needed */
  transition: color 0.3s; /* Smooth transition for color */
  position: relative; /* For positioning the line */
}

.search-toggle button:hover {
  color: #007bff; /* Color change on hover, adjust as needed */
}

.search-toggle button.active {
  color: #007bff; /* Active state text color */
}

.search-toggle button.active:after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  left: 0;
  right: 0;
  height: 2px; /* Thickness of the line */
  background-color: #007bff; /* Line color */
  margin: 0 auto;
  width: 50%; /* Adjust the width of the line as needed */
}


