.navbar {
    position: sticky;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333333;
  }
  
  /* Assuming your CSS file is App.css or similar */
/* Navbar link styles */
.nav-link {
  position: relative;
  /*Requiredforpositioningthepseudo-element*/color: #000;
  /*Setthetextcolor*/text-decoration: none;
  /*Nounderlinebydefault*/padding: 0.5rem 0;
  /*Addsomepadding*/transition: color 0.3s ease;
   /* Smooth transition for color change */
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.nav-link img {
  width: 24px; /* Adjust the size as needed */
  height: auto;
  /* Add any additional styling if needed */
}
.order img {
  width: 44px; /* Adjust the size as needed */
  height: auto;
  position: absolute; /* Position the image absolutely within its relative parent */
  top: 0px; /* Move the image up by 10 pixels */
  left: 50%; /* Center horizontally in the parent element */
  transform: translateX(-50%); /* Ensure it's centered after moving it */
}

.nav-link:hover, .nav-link.active {
  color: #007bff; /* Change color on hover */
}

/* Underline effect */
.nav-link::after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0%; /* Start with no underline */
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

/* Hover state for the underline */
.nav-link:hover::after, .nav-link.active::after {
  width: 100%; /* Full width for the line */
  background-color: #007bff; /* Or any other color for the underline */
}

/* Specific styles for non-active links */
.nav-link:not(.active):hover {
  color: black; /* Hovered button text color */
}

.nav-link:not(.active):hover::after {
  background-color: black; /* Hovered button underline color */
}

  
  