.navbar {
  position: sticky;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 1000;
  gap: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
  
  .navbar a {
    text-decoration: none;
    color: #333333;
  }

  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    span {
      height: 2px;
      width: 25px;
      background: #333;
      margin-bottom: 4px;
      border-radius: 5px;
    }
  }
  
  /* Assuming your CSS file is App.css or similar */
/* Navbar link styles */
.nav-link {
  position: relative;
  /*Requiredforpositioningthepseudo-element*/color: #000;
  /*Setthetextcolor*/text-decoration: none;
  /*Nounderlinebydefault*/padding: 0.5rem 0;
  /*Addsomepadding*/transition: color 0.3s ease;
   /* Smooth transition for color change */
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.nav-link img {
  width: 24px; /* Adjust the size as needed */
  height: auto;
  /* Add any additional styling if needed */
}
.order img {
  width: 44px; /* Adjust the size as needed */
  height: auto;
  position: absolute; /* Position the image absolutely within its relative parent */
  top: 0px; /* Move the image up by 10 pixels */
  left: 50%; /* Center horizontally in the parent element */
  transform: translateX(-50%); /* Ensure it's centered after moving it */
}

.nav-link:hover, .nav-link.active {
  color: #007bff; /* Change color on hover */
}

/* Underline effect */
.nav-link::after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0%; /* Start with no underline */
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

/* Hover state for the underline */
.nav-link:hover::after, .nav-link.active::after {
  width: 100%; /* Full width for the line */
  background-color: #007bff; /* Or any other color for the underline */
}

/* Specific styles for non-active links */
.nav-link:not(.active):hover {
  color: black; /* Hovered button text color */
}

.nav-link:not(.active):hover::after {
  background-color: black; /* Hovered button underline color */
}

  
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust according to navbar height */
    right: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  .nav-link {
    padding: 10px;
    text-align: center;
  }

  .hamburger-menu {
    display: flex;
  }
}