.order-status-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-width: 600px; /* Set a max-width for larger screens */
  }
  
  .order-status-container h1 {
    margin-bottom: 20px;
  }
  
  .order-status-container input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .order-status-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .status-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .orders-display {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .order-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Aligns children side by side */
    align-items: center; /* Vertically centers children */
}
  
  .order-image {
    max-width: 200px; /* Ensure image is responsive and fits within its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 190px; /* Limit the image height */
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .order-item .city-title {
    margin-bottom: 5px; /* Reduced margin or adjust as needed */
    /* Additional styling to move the title up */
  }

  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .order-status-container {
      width: 95%;
    }
  
    .orders-display {
      flex-direction: column;
    }
  
    .order-item {
      margin-bottom: 10px;
    }
  }