.shopping-cart-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-width: 800px;
  }
  
  .boarding-pass {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .boarding-pass-image {
    max-width: 150px; /* Adjust as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .boarding-pass-info h3, .boarding-pass-info p {
    margin: 0;
    text-align: left;
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
  }

  .cart-item-image {
    width: 180px; /* Set a fixed width */
    height: 180px; /* Set a fixed height */
    object-fit: cover; /* This ensures the image covers the area without stretching */
    border-radius: 5px; /* Optional: for rounded corners */
    margin-right: 20px;
  }
  
  .remove-item-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 15px;
  }
  
  .cart-total {
    text-align: right;
    font-size: 1.2rem;
    margin-top: 20px;
  }

  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .shopping-cart-container {
      width: 95%;
    }
  
    .boarding-pass {
      flex-direction: column;
      align-items: start;
    }
  
    .boarding-pass-image {
      margin-bottom: 10px;
    }
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .remove-item-icon {
        position: static;
        margin-left: auto;
        margin-top: 10px;
      }
    
      .cart-total {
        text-align: center;
      }
    }