.support-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 80vw; /* Use the viewport width */
  height: 40vh; /* Use the viewport height for full page height, if desired */
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 10%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.support-column {
  padding: 20px; /* Padding inside each column */
  border: 1px solid #ccc; /* Border around each column */
  border-radius: 10px; /* Rounded corners for the border */
  text-align: center; /* Centers text horizontally */
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.support-column a {
  color: #007bff;
}

.support-column a:hover {
  color: red;
}

.support-column h2 {
  display: inline-block; /* This makes the h2 element inline-block so it only takes up as much width as necessary */
  position: relative; /* Relative positioning to contain the absolute pseudo-elements */
}

.support-column h2::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 0%; /* Start with no underline */
  background-color: #007bff; /* Your desired color for the underline */
  transition: width 0.3s ease; /* Transition effect for the width property */
  position: absolute;
  bottom: -5px; /* Adjust as necessary for spacing from the bottom of the title */
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Center the element with transform */
}

.support-column h2:hover::after, 
.support-column h2:focus::after { /* Add focus for accessibility */
  width: 100%; /* Full underline on hover/focus */
  /* The rest of your styles remain the same */
}

.support-title {
  font-size: 1.5rem; /* Size of the title text */
  margin-bottom: 20px; /* Space below the title */
  color: #007bff; /* Color of the title text */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.support-link {
  text-decoration: none; /* Removes underline */
  color: #007bff; /* Default text color */
  position: relative; /* For positioning the pseudo-elements */
  padding: 5px 0; /* Adjust as needed */
  
}



@media (max-width: 768px) {
  .support-container {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
}
